@import '../styles/variables';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  border-radius: 10px;
  height: 150px;
  width: 600px;
  padding: 0 40px;
  margin: 50px auto 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 20px;
    }
  }

  button {
    height: 30px;
    width: 70px;
    align-self: center;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $font-color;
    }
  }
}

.toast-message {
  background: orangered;
  color: $font-color;
}

.back {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: $primary-color;
  font-size: 18px;

  &:hover {
    color: $font-color;
  }
}

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 500px;
    margin: 50px 20px;
  }
}
