@import '../styles/variables';

.write {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 500px;

    input {
      padding: 10px;
      border: 1px solid $secondary-color;
      font-size: 1.2rem;
    }

    .editor-container {
      height: 400px;
    }

    .editor {
      height: 100%;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
  }

  .item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $font-color;
    margin: 30px;

    span,
    label,
    .buttons {
      padding: 10px;
    }

    label {
      color: $font-color;
      font-weight: bold;

      &:hover {
        color: $primary-color;
      }
    }

    h1 {
      font-size: 20px;
      padding-left: 10px;
    }

    .file {
      text-decoration: underline;
      cursor: pointer;
    }

    .buttons {
      display: flex;
      gap: 20px;

      :first-child {
        cursor: pointer;
        color: $font-color;
        background-color: $secondary-color;
        padding: 8px 7px;
      }

      :last-child {
        cursor: pointer;
        color: $font-color;
        background-color: $primary-color;
        padding: 8px 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .write {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    width: 100%;
  }
}
