.blog-menu {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.blog-menu h1 {
  font-size: 20px;
  color: grey;
}

.blog-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-post img {
  width: 100%;
  height: 200px;
}

.blog-menu h2 {
  color: grey;
}

.blog-menu button {
  width: max-content;
  padding: 7.5px 15px;
  border: none;
  cursor: pointer;
  background-color: orangered;
  color: grey;

  &:hover {
    background-color: black;
  }
}
