.single {
  display: flex;
  gap: 50px;
  padding: 100px;
}

.single-blog {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.single-blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.member {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member-info {
  margin-top: 15px;
}

.member-info span {
  font-weight: bold;
}

.member-info p {
  margin-top: 0;
  font-size: 14px;
}

.member img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.single-blog__menu {
  flex: 2;
}

.edit-blog {
  display: flex;
  gap: 5px;
}

.edit-blog img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.single-blog h1 {
  font-size: 40px;
  color: grey;
}

.single-blog p {
  text-align: justify;
  line-height: 30px;
  color: grey;
}
